# Welcome to Numpy tutorial

In [1]:
import numpy as np

In [2]:
arr=np.array([[1,2,3]] , np.int32)  #2d array

In [3]:
arr

array([[1, 2, 3]])

In [4]:
arr[0,1]   #indexing

2

In [5]:
arr.shape    #to get shape of array

(1, 3)

In [6]:
arr.dtype   #to get data type of array

dtype('int32')

In [7]:
arr[0,2]

3

In [8]:
arr[0,2]=51    #change element of array

In [9]:
arr

array([[ 1,  2, 51]])

In [10]:
arr.ndim

2

In [11]:
b=np.array([[1,2,3],[4,5,6]])
b.ndim

2

In [12]:
c=np.array([[[1,2,3],[4,5,6],[7,1,4]]])
c.ndim

3

### Array creation: Conversion from other Python structures (e.g., lists, tuples)

In [13]:
listarr=np.array([[1,2,3],[0,1,2]])

In [14]:
listarr

array([[1, 2, 3],
       [0, 1, 2]])

In [15]:
listarr.dtype

dtype('int32')

In [16]:
listarr.size

6

In [17]:
np.array({1,2,3})   #creates array with data type object

array({1, 2, 3}, dtype=object)

### Array creation: Intrinsic numpy array creation objects (e.g., arange, ones, zeros, etc.)

In [18]:
zeros=np.zeros((2,5))
zeros

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [19]:
rng= np.arange(15)   #creates a numpy array
rng

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [20]:
#linspace gives equally distant elements
lspace=np.linspace(1,5,3)    #1-->start , 5-->end , 3-->total number of elements.
lspace

array([1., 3., 5.])

In [21]:
n=np.empty((3,6))   #gives empty array with random elements
n

array([[1.20455815e-311, 4.84184333e-322, 0.00000000e+000,
        0.00000000e+000, 6.79038653e-313, 1.15998412e-028],
       [2.44171989e+232, 8.00801729e+159, 6.19319847e-071,
        5.46814361e-095, 6.01347002e-154, 1.05132387e-153],
       [4.56295599e-144, 2.86530729e+161, 8.93176633e+271,
        4.98131536e+151, 1.47916532e-071, 8.34402697e-308]])

In [22]:
n_like=np.empty_like(lspace)  #creates a copy of array created previously
n_like

array([1., 3., 5.])

In [23]:
n_like[1]=2    #change element via index
n_like

array([1., 2., 5.])

In [24]:
p=np.identity(3)
p

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [25]:
p.shape

(3, 3)

In [26]:
arr=np.arange(99)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

In [27]:
arr.reshape(3,33)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
        32],
       [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
        49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
        65],
       [66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
        98]])

In [28]:
arr.reshape(11,9)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49, 50, 51, 52, 53],
       [54, 55, 56, 57, 58, 59, 60, 61, 62],
       [63, 64, 65, 66, 67, 68, 69, 70, 71],
       [72, 73, 74, 75, 76, 77, 78, 79, 80],
       [81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98]])

In [29]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

In [30]:
arr=arr.reshape(3,33)   #changes value of arr

In [31]:
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
        32],
       [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
        49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
        65],
       [66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
        98]])

In [32]:
arr= arr.ravel()  #makes arr back to original shape i.e 1d
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

In [33]:
arr.shape

(99,)

In [34]:
x = [[1,2,3],[4,5,6],[7,1,0]]   #create a list
print(x)

[[1, 2, 3], [4, 5, 6], [7, 1, 0]]

In [35]:
ar=np.array(x)   #convert list to numpy array
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [36]:
ar.sum(axis=0)   #sum horizontally

array([12,  8,  9])

In [37]:
ar.sum(axis=1)   #sum vertically

array([ 6, 15,  8])

In [38]:
ar.T    #Transpose of matrix ar

array([[1, 4, 7],
       [2, 5, 1],
       [3, 6, 0]])

In [39]:
np.linalg.det(ar)   #determinant of matrix

-14.999999999999993

In [40]:
ar.flat          #gives iterator
for item in ar.flat:
    print(item)

1
2
3
4
5
6
7
1
0

In [41]:
ar.ndim

2

In [42]:
ar.size   #returns number of elements in array

9

In [43]:
ar.nbytes   #returns number of bytes consumed by array

36

## **ar.ndim-->attributes as called w/o brackets**
## **ar.argmax()--> methods as called with brackets**

In [44]:
one = np.array([1,4,3,5,789])   
one.argmax()                        #returns the index of maximum element of array

4

In [45]:
one.argmin()             #returns the index of minimum element of array

0

In [46]:
one.argsort()       #gives the indices of elements in increasing order.

array([0, 2, 1, 3, 4], dtype=int64)

In [47]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [48]:
ar.argmin()

8

In [49]:
ar.argmax()

6

In [50]:
ar.argmax(axis=0)     #largest element in first column at index 2 , largest element in second column at index 1 , largest element in third column at index 1

array([2, 1, 1], dtype=int64)

In [51]:
ar.argmax(axis=1)     #largest element in first row at index 2 , largest element in second row at index 2 , largest element in third row at index 0

array([2, 2, 0], dtype=int64)

In [52]:
ar.argsort(axis=0)    #gives the indices of element in increasing order column wise.

array([[0, 2, 2],
       [1, 0, 0],
       [2, 1, 1]], dtype=int64)

In [53]:
ar.argsort(axis=1)   #gives the indices of element in increasing order row wise.

array([[0, 1, 2],
       [0, 1, 2],
       [2, 1, 0]], dtype=int64)

In [54]:
ar.ravel()    #returns 1d array

array([1, 2, 3, 4, 5, 6, 7, 1, 0])

In [55]:
ar.reshape(9,1)

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [1],
       [0]])

In [56]:
ar.reshape(1,9)

array([[1, 2, 3, 4, 5, 6, 7, 1, 0]])

In [57]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [58]:
ar2=np.array([[1,2,3],[4,5,6],[1,4,3]])
ar2

array([[1, 2, 3],
       [4, 5, 6],
       [1, 4, 3]])

In [59]:
ar + ar2    #add 2 arrays

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [ 8,  5,  3]])

In [60]:
ar * ar2    #multiply each element idex wise.

array([[ 1,  4,  9],
       [16, 25, 36],
       [ 7,  4,  0]])

In [61]:
np.sqrt(ar)    #square root the array

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974],
       [2.64575131, 1.        , 0.        ]])

In [62]:
ar * ar   #square the matrix ar

array([[ 1,  4,  9],
       [16, 25, 36],
       [49,  1,  0]])

In [63]:
ar.max()

7

In [64]:
ar.min()

0

In [65]:
ar.sum()  #sum all the elements of array

29

In [66]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [67]:
np.where(ar>5)   #returns tuple where ar have values greater than 5

(array([1, 2], dtype=int64), array([2, 0], dtype=int64))

In [68]:
type(np.where(ar>5))

tuple

In [69]:
np.count_nonzero(ar)    #return non zero elements.

8

In [70]:
np.nonzero(ar)     #returns [r][c] index for all nonzero element.

(array([0, 0, 0, 1, 1, 1, 2, 2], dtype=int64),
 array([0, 1, 2, 0, 1, 2, 0, 1], dtype=int64))

#### https://docs.python.org/3/library/sys.html

In [71]:
import sys    # This module provides access to some variables used or maintained by the 
              # interpreter and to functions that interact strongly with the interpreter.
              # sys â€” System-specific parameters and functions.

In [72]:
py=[0,4,55,2]

In [73]:
ny=np.array(py)

In [74]:
sys.getsizeof(1)

28

In [75]:
len(py)

4

In [76]:
sys.getsizeof(1) * len(py)

112

In [77]:
ny.itemsize

4

In [78]:
ny.size

4

In [79]:
ny.itemsize * ny.size

16

### https://docs.scipy.org/doc/numpy-1.6.0/reference/generated/numpy.ndarray.html